:root {
  --color-neutral-white: #FFFF;
  --color-neutral-black: #101828;

  --color-neutral-050: #F9FAFB;
  --color-neutral-100: #F2F4F7;
  --color-neutral-300: #D0D5DD;
  --color-neutral-500: #667085;
  --color-neutral-600: #504C64; //Adicionado para cor do card do dashboard
  --color-neutral-700: #344054;
  --color-neutral-800: #4F4B62;
  --color-neutral-900: #343434;
  --color-neutral-950: #454545; //Adicionado para cor do background dashboard onde há conteúdo
  --color-neutral-1000: #2B2B2B;

  --color-primary: #FB6514;

  --color-primary-025: #FFFAF5;
  --color-primary-050: #FFF6ED;
  --color-primary-100: #FFEAD5;
  --color-primary-200: #FDDCAB;
  --color-primary-300: #FEB273;
  --color-primary-400: #FD853A;
  --color-primary-600: #DC6803;
  --color-primary-700: #B54708;

  --color-secondary: #371A00;
  --color-secondary-700: #5E2F2B;
  --color-secondary-600: #6F352E;
  --color-secondary-400: #936C67;

  --color-success-050: #F1FFF6;
  --color-success-100: #D1FADF;
  --color-success-200: #A6F4C5;
  --color-success-300: #6CE9A6;
  --color-success-400: #32D583;
  --color-success-600: #039855;
  --color-success-800: #05603A;

  --color-error-050: #FFF1F0;
  --color-error-100: #FFDDD9;
  --color-error-200: #FECDCA;
  --color-error-300: #FDB4AC;
  --color-error-400: #F97066;
  --color-error-600: #D92D20;
  --color-error-800: #912018;

  --color-warning-050: #FFFBDC;
  --color-warning-100: #FFE8A8;
  --color-warning-200: #FEDF89;
  --color-warning-300: #FEC84B;
  --color-warning-400: #FDB022;
  --color-warning-500: #F79009;

  --color-contrast-100: #DDEFFF;
  --color-contrast-600: #1570EF;
  --color-contrast-700: #4A1FB8;
  --color-contrast-800: #A11043;
  --color-contrast-900: #194185;
}
